{% assign lang = site.locale | slice: 0,2 | default: "en" %}
{% case lang %}
{% when "gr" %}
  {% assign lang = "gr" %}
{% else %}
  {% assign lang = "en" %}
{% endcase %}
<script src="{{ '/assets/js/lunr/lunr.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/lunr/lunr-store.js' | relative_url }}"></script>
<script src="{{ '/assets/js/lunr/lunr-' | append: lang | append: '.js' | relative_url }}"></script>

<!-- 引入 jquery.qrcode.min.js -->
<script src="{{ '/assets/js/plugins/jquery.qrcode.min.js' | relative_url }}"></script>
<script> (window.innerWidth > 1024) && $('#qrcode').qrcode({width:96,height:96,text:location.href})</script>